article{
    margin-top: 7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article.home .card{
    width: 40vw;
}

article.home .card .card-img-top{
    height: 25vw;
    object-fit: cover;
}

article.oneAnimal .card{
    width: 50vw;
}

article.oneAnimal .card .card-img-top{
    height: 30vw;
    object-fit: cover;
}


.card{
    width: 17vw;
    margin-bottom: 7vh;
}


.card-img-top {
    /* max-height: 200px; */
    height: 11vw;
    
    object-fit: fill;
    
}

i{
    color: rgb(156, 156, 156);
}

div.card-body{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

a.btn{
    margin-top: 10px;
    
}

.botonera{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}