

article{
    margin-top: 7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 41vw;
    margin-bottom: 7vh;
}


.card-img-top {
    /* max-height: 200px; */
    height: 27vw;
    object-fit: cover;
    
}