article{
    margin-top: 7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 81vh;
}

article.home .card{
    width: 40vw;
}

article.home .card .card-img-top{
    height: 25vw;
    object-fit: cover;
}

article.oneAnimal .card{
    width: 50vw;
}

article.oneAnimal .card .card-img-top{
    height: 30vw;
    object-fit: cover;
}

article.allSpecies div.card{
    width: 27vw;
}

article.allSpecies .card .card-img-top{
    height: 19vw;
    object-fit: contain;
}

article.oneAnimal div.card{
    width: 60vw;
}

article.oneAnimal .card .card-img-top{
    height: 35vw;
    object-fit: fill;
}

article.adminPanel{
    display: flex;
    flex-direction: column;
}

article.adminPanel div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 4vh;
}

article.adminPanel form{
    display: flex;
    flex-direction: column;
}

.card{
    width: 17vw;
    margin-bottom: 7vh;
}


.card-img-top {
    /* max-height: 200px; */
    height: 11vw;
    
    object-fit: fill;
    
}

i{
    color: rgb(156, 156, 156);
}

div.card-body{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

a.btn{
    margin-top: 10px;
    
}

.botonera{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}


footer{
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-flow: column;
    align-items: center;
    font-style: italic;
    font-weight: bolder;
    min-height: 12vh;
    justify-content: space-between;
}

footer div.redes{
    margin-bottom: 3vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.hide{
    display: none;
}
